{#{% extends 'base.html.twig' %}#}


{% block service %}
    <h2 class="titre-general">Les catégories</h2>
    <p>Choisissez une catégorie</p>
    <ul>
        {% for categorie in categories %}
            <li>{{ categorie.nom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
