
/* Style Général du site */

body {
    background: palevioletred;
    padding: 15px;
}
.section{
    margin-bottom: 20px;
    padding: 10px;
}
ul {
    list-style-type: none;
}
.slider {
    padding: 0;
}


.identification {
    background: #33C3F0;
    min-height: 20vh;
}

.footer {
    background: goldenrod;
}
.main {
    background: saddlebrown;
}
.recherche {
    background: firebrick;
    min-height: 20vh;
}
.service {
    background: crimson;
    min-height: 80vh;
}