/* Style Général du site */

:root {
    --main-color: #33C3F0;
}
@font-face {
    font-family: 'DancingScript';
    src:  url('polices/DancingScript-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Pacifico';
    src:  url('polices/Pacifico-Regular.ttf') format('truetype');
}
body {
    background-color: rgba(94, 190, 224, 0.5);
    padding: 15px;
    font-family: 'DancingScript';
    font-size: 2.2rem;
}
.section{
    margin-bottom: 20px;
    padding: 10px;
}
ul {
    list-style-type: none;
}
.slider {
    padding: 0;
}
.titre-general {
    font-family: 'Pacifico';
    text-decoration: underline var(--main-color);
}

/* Liste des catégories  */
/*************************/

.liste-categorie a {
    text-decoration: none;
    color: #000000;
    transition: padding-left 1s;
}
.liste-categorie a:focus , .liste-categorie a:hover {
    text-decoration: underline var(--main-color);
    box-shadow: inset 4px 0 0 var(--main-color);
    padding-left: 10px;
    transition: padding-left .7s;
}
.liste-categorie li {
    display: flex;
    align-items:  center;
    position: relative;
}
.liste-categorie a {
    flex: 1;
}
.liste-categorie .description {

}
.liste-categorie .interogation {
    height: 30px;
    width: 30px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
    justify-content: center;
    align-items:  center;
    display: flex;
    font-size: 150%;
    font-weight: bold;
    color: var(--main-color);
    cursor:help;
}
.liste-categorie aside {
    position: absolute;
    left: -9999px;
}
.triangle{
    width: 0;
    height: 0;
    border-width: 20px 34.6px 20px 0;
    border-color: transparent #000 transparent transparent;
    border-style: solid;
    position: absolute;
    top: 0;
    left: -34px;
}
.liste-categorie .interogation:hover ~ aside {
    left: 300px;
    top : 0;
    min-width: 370px;
    color: #fff;
    background: #000;
    border-radius: 0 5px 5px 5px;
    padding: 5px;
}


/**************************/
.identification {
    background: #33C3F0;
    min-height: 20vh;
}

.footer {
    background: goldenrod;
}
