{# Ce twig n'extend de rien puisque inclus dans le template grace au controleur qui l'appelle #}
{# C'est à dire que le controleur affiche ce twig. #}
{# source https://symfony.com/doc/4.1/templating/embedding_controllers.html  #}


    <h2 class="titre-general">Les catégories</h2>
    <ul class="liste-categorie">
        {% for categorie in categories %}
            <li>
                <a href="{{ path('categorie' ,  { id:categorie.id }  ) }}">{{ categorie.nom }}</a>
                <div class="description"><div class="interogation">?</div><aside><div class="triangle"></div> {{ categorie.description}}  </aside></div>
            </li>
        {% endfor %}
    </ul>

